.soundCloudWidget {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    color: white;
}

.heading {
    width: 100%;
    padding-left: 20px;
    p {

    }
    h1 {
        font-size: 60px;
        margin: 0;
    }
}

.playlist {
    background-color: black;
    margin: 5px;
}

.iFrame, .expandedIFrame {
    border: none;
    height: 300px;
    width: 100%;
    transition: height 0.5s ease;
}

.expandedIFrame {
    height: 500px;
}