.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#51daff 0%, #2b6eb0 70%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  img {
    width: 80%;
    max-width: 400px;
  }
}
.button {
  position: absolute;
  top: 70vh;
  background: none;
  background-color: hsla(100%, 100%, 100%, .01);
  // color: hsla(100%, 100%, 100%, 0.7);
  color: black;
  font-size: 25px;
  border: 0.5px solid black;
  border-radius: 3%;
  padding: 13px 30px;
  text-decoration: none;
  letter-spacing: 0;
  &:hover {
    background-color: hsla(0%, 0%, 0%, .5);
    color: 'black';
  }
}