@import '../../styles/variables';

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient($primary-orange 0%, $secondary-orange 70%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  img {
    width: 80%;
    max-width: 600px;
    margin-bottom: 50px;
  }
}
.button {
  position: absolute;
  top: 70vh;
  background: none;
  // background-color: hsla(100%, 100%, 100%, .01);
  background-color: $primary-orange; 
  // color: hsla(100%, 100%, 100%, 0.7);
  color: black;
  font-size: 25px;
  border: 2.5px solid $dark-orange;
  border-radius: 3%;
  padding: 13px 30px;
  text-decoration: none;
  letter-spacing: 0;
  &:hover {
    background-color: $dark-orange;
    color: 'black';
  }
}