.main {
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#51daff 0%, #2b6eb0 70%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .logo {
    position: absolute;
    top: 0px;
    width: 70%;
    max-width: 400px;
  }
}

.socials {
  margin-bottom: 20px;
}

.landingLink {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background: none;
  background-color: hsla(100%, 100%, 100%, .01);
  color: black;
  font-size: 15px;
  border: 0.5px solid black;
  border-radius: 0%;
  box-shadow: 2px 4px 8px #2b6eb0;
  padding: 13px 30px;
  text-decoration: none;
  letter-spacing: 0;
  &:hover {
    background-color: hsla(0%, 0%, 0%, .5);
    color: 'black';
  }
}

.enter {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-color: hsla(100%, 100%, 100%, .01);
  color: black;
  font-size: 25px;
  border: 0.5px solid black;
  border-radius: 3%;
  padding: 13px 30px;
  text-decoration: none;
  letter-spacing: 0;
  &:hover {
    background-color: hsla(0%, 0%, 0%, .5);
    color: 'black';
  }
}

.videoBackground {
  position: relative;
  height: 100vh;         /* full screen */
  width: 100%;
  overflow: hidden;      /* hide overflow from video edges */
}

.main video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;     /* cover screen without distortion */
  transform: translate(-50%, -50%); /* center it */
  z-index: -1;           /* behind content */
}