.welcomeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcomeLogo {
    width: 80%;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    margin-top: 64px;
    z-index: -1;
}