.list {
    max-width: 400px;
    width: 100%;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.footer {
    max-width: 400px;
    padding: 0;
    gap: 20px;
    display: flex;
    justify-content: center;
}
.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    border: solid rgba(255, 255, 255, 1) 3px;
    color: white;
    text-decoration: none;
    img {
        position: absolute;
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
    p {
        width: 100%;
        text-align: center;
        margin: 0;
        color: white;
    }
}