.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #51daff;
    background-color: rgba(1, 1, 55, 0.4);
    width: 100%;
    height: 100vh;
// import "@fontsource/league-spartan";
// import "@fontsource/orbitron";
// import "@fontsource/quicksand";
// import "@fontsource/russo-one";
// import "@fontsource/urbanist";
// import "@fontsource/sarala";
    font-family: sarala !important;
    font-weight: bolder;
}

.emailInner {
    margin-top: 40px;
    background-color: rgba(1, 1, 55, 0.2);
    padding: 30px 40px;
    width: 60%;
    max-width: 400px;
}

.heading {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 0;
    width: 100%;
}