.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url('./assets/dark-arkade.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.button {
  background: none;
  background-color: hsla(0%, 0%, 0%, .3);
  color: hsla(100%, 100%, 100%, 0.8);
  border: none;
  font-size: 30px;
  border: 3px solid black;
  padding: 15px 30px;
  &:hover {
    background-color: hsla(0%, 0%, 0%, .5);
    color: 'black';
  }
}