.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 36vh;
}

.heading {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 0;
    width: 100%;
}